<app-banner [src]="imagem" [cerveja]="name" ></app-banner>
<app-header [titulo]="titulo" [icon]="icon" [image]="image" [toolTip]="toolTip"></app-header>
<mat-card class="detalhes">
    <div class="informacao">
        <div>
        <h1 class="titulo">{{name}}</h1>
        <p class="descricao">{{description}}</p>
        <p class="ingredientes">Ingredientes:</p>
        <p class="ingredientes">Malte:
            <small *ngFor="let malt of malt ">
                {{malt.name}}
            </small>
        </p>
        <p class="ingredientes">Hops: 
            <small *ngFor="let hops of hops">
                {{hops.name}}
            </small>
        </p>

        <p class="ingredientes">{{yeast}}</p>
        </div>
        <div id="cerveja-img">
            <img src={{imagem}} alt="">
        </div>
    </div>

    <div class="icons">
        <div class="icon">
            <div><img src="../../assets/images/cerveja.svg" alt=""></div>
            <p>{{volumeValue}} {{volumeUnite}}</p>
        </div>
        <div class="icon">
            <div><img src="../../assets/images/ph.svg" alt=""></div>
            <p>{{ph}}</p>
        </div>
        <div class="icon">
            <div><img id="porcentagem" src="../../assets/images/porcentagem.svg" alt=""></div>
            <p>{{abv}}%</p>
        </div>
    </div>
</mat-card>