<div id="login">
    <div class="login-form">
        <div class="logo">
            <img  src="../../assets/images/logo.png" />
        </div>


        <div class="title">Acesse sua conta</div>
        <div class="login-google" #loginRef>
            
                <button class="login-btn">
                    <img class="google-login-image" src="../../assets/images/logo-google.svg" />
                    <small>Entre com sua conta google </small>
                </button>
            
        </div>
    </div>
</div>
