#superior{
    height: 500px;
    width: 200px;
    background-color: rgb(255, 178, 0);
    text-align: center;
    border-radius: 0px 0px 10px 10px;
}
#superior img{
    margin-top: 70%;
    width: 50%;
}
#inferior{
    margin-top: -90px;
    background-color: rgb(255, 178, 0);
    height: 180px;
    width: 200px;
    border-radius: 50%;
}
#banner{
    margin-left: 75%; 
    position: absolute;
}

@media screen and (max-width: 750px){

    #banner{
        display: none;
    }
}

@media screen and (min-width: 1300px) {

    #superior{
        height: 600px;        
    }
    
}
