
<app-header [titulo]="titulo" [image]="image" [icon]="icon" [toolTip]="toolTip"></app-header>

<div class="row" >
    <div *ngFor="let beer of beers" class=" 1 col-md-4 e 1 col-sm-6 e col-12">
        <mat-card class="card"> 
            <img width="60px" height="200px" src="{{beer.image_url}}" alt="{{beer.name}}">

            <mat-card-actions class="actions">
                <mat-card-subtitle>{{beer.name}}</mat-card-subtitle>
                <button class="saibaMais" mat-button (click)="saibaMais(beer.id)">
                    <mat-icon>add_circle_outline</mat-icon>Saiba Mais
                </button>
            </mat-card-actions>
        </mat-card>
       
    </div>
    <mat-card class="paginator">
        <a class="paginaorIcon" (click)="paginaAnterior()" *ngIf="page !== 1"
            matTooltip="Clique para ir para a página anterior">
            <mat-icon>keyboard_arrow_left</mat-icon>
        </a>
        <a class="paginaorIcon" style="cursor: pointer" (click)="proximaPagina()" *ngIf="beers.length === 12"
            matTooltip="Clique para ir para a próxima página">
            <mat-icon>keyboard_arrow_right</mat-icon>
        </a>
    </mat-card>
</div>