<div class="main">
<div [formGroup]="form" class="header">
    <div class="titulo">


        <img  (click)="voltar()" *ngIf="image!=' '" class="beer-imagem" src={{image}} alt="">
        <mat-icon *ngIf="icon!=' '" class="beer-icon" (click)="voltar()">{{icon}}</mat-icon>
        <h3>{{titulo}}</h3>

    </div>

    <div class="filtro">
        <input formControlName="pesquisar" placeholder="Busque por uma cerveja" class="input-buscar" type="text">
        <div class="buscar">
            <button class="btn-buscar" (click)="buscarCerveja()">Buscar <mat-icon>search</mat-icon></button>


            <button (click)="limpar()" class="btn-limpar" mat-stroked-button *ngIf="form.dirty">

                Limpar<mat-icon>backspace</mat-icon>
            </button>

        </div>
    </div>
    <div id="perfil">

        <div><img src={{usuario.fotoUrl}} alt=""></div>
        <small>{{usuario.nome}}</small>
        
        
    </div>

</div>

